*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: green;
}
input, label{
    color: green;
    display: block;

}
form {
align-self: center;
align-items: center;
margin:auto;
min-width: 300px;
max-width: 500px;
border: 2px solid gray;
padding: 10px;
}
input{
    width: 100%;
}
.submit{
margin: 15px auto;
background-color: azure;
border-radius: 5px;
max-width: 100px;
}